body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-34px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:1286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18029 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:79px;
  width:785px;
  height:1286px;
  display:flex;
}
#u18029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18030 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:29px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18031 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:29px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:629px;
}
#u18032 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:746px;
  width:959px;
  height:629px;
  display:flex;
}
#u18032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:669px;
}
#u18033 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:79px;
  width:960px;
  height:669px;
  display:flex;
}
#u18033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:44px;
}
#u18034 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1372px;
  width:962px;
  height:44px;
  display:flex;
}
#u18034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:346px;
}
#u18035 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:1070px;
  width:252px;
  height:346px;
  display:flex;
}
#u18035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18036 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:1368px;
  width:0px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#006699;
}
#u18036_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:190px;
  height:10px;
}
#u18036_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-130px;
  width:10px;
  height:135px;
}
#u18036_seg2 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-130px;
  width:191px;
  height:10px;
}
#u18036_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u18036_seg4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:-135px;
  width:20px;
  height:20px;
}
#u18036_text {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
