body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-34px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:1286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33644 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:79px;
  width:785px;
  height:1286px;
  display:flex;
}
#u33644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u33645 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:29px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u33645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u33646 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:29px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u33646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:629px;
}
#u33647 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:746px;
  width:959px;
  height:629px;
  display:flex;
}
#u33647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:669px;
}
#u33648 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:79px;
  width:960px;
  height:669px;
  display:flex;
}
#u33648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:44px;
}
#u33649 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1372px;
  width:962px;
  height:44px;
  display:flex;
}
#u33649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:346px;
}
#u33650 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:1070px;
  width:252px;
  height:346px;
  display:flex;
}
#u33650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33651 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:1368px;
  width:0px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#006699;
}
#u33651_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:190px;
  height:10px;
}
#u33651_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-130px;
  width:10px;
  height:135px;
}
#u33651_seg2 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-130px;
  width:191px;
  height:10px;
}
#u33651_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u33651_seg4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:-135px;
  width:20px;
  height:20px;
}
#u33651_text {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
