body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:3251px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19607 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:27px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3251px;
  height:3739px;
}
#u19608 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:98px;
  width:3251px;
  height:3739px;
  display:flex;
}
#u19608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
